<!-- Archivo: catalogolap/templates/cliente_edit.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir/Editar Cliente</title>
    <!-- Cargar el módulo de archivos estáticos -->
    {% load static %}
    <!-- Enlace a Bootstrap desde tu enlace proporcionado -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Añadir Clienete</h1>
        <form method="post">
            {% csrf_token %}
            <!-- Itera sobre los campos del formulario -->
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <!-- Muestra errores en caso de haberlos -->
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
