{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto</title>
    <!-- Enlace a Bootstrap para los estilos -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Añadir Nuevo Producto</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza el formulario con etiquetas <p> para cada campo -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
